body{
    background-color: #F9F2DA;
    color: #466823;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
    font-size: 35px;
}

li{
    display: inline-block;
    margin: 20px;
    font-size: 25px;
}

a{
    color: #466823;
}

a:hover{
    color: #74aa3d;
    transition: 0.3s all;
}

h1{
    font-weight: 2000;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

img{
    width: 520px;
    margin-left: 400px;
}

form{
    display: flex;
    flex-direction: column;
    width: 200%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #466823;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}